.tooltip {
    position: relative;
    display: inline-block;

  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #ffddcc;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .carregando{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/frangoassado.png");
}

#footer{
  display: block;
  position: fixed;
  bottom: 0px;
  left: 10px;
}
.cz{border: none;
  background-color: white;
  font-size: 12pt;
  cursor: pointer;
  outline:none;
 }
 .y{
   margin-left: 19px;
   margin-top: -40px;
 }
 .po{font-size: 0.7cm;
 
 }